<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset"
  >
    <mat-nav-list class="main-nav">
      <div class="logo-wrapper">
        <img class="logo" src="./../../../../../assets/epms.png" alt="Logo" />
      </div>
      <a mat-list-item routerLink="/dashboard">
        <span class="menu-text">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/project">
        <span class="menu-text">Project Management</span>
      </a>
      <a mat-list-item routerLink="/user" *ngIf="role === 'admin'">
        <span class="menu-text">User Management</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z4 toolbar">
      <button
        mat-icon-button
        *ngIf="isHandset"
        (click)="drawer.toggle()"
        aria-label="Toggle sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">{{ headerTitle }}</span>

      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
        <mat-icon class="avatar-icon">account_circle</mat-icon>
        <span class="greeting">Hi, {{ role | titlecase }}</span>
        <mat-icon class="chevron">arrow_drop_down</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>Hi, {{ role | titlecase }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
